/* Classes.module.css */

.gridContainer {
  display: grid;
  gap: 15px;
  grid-template-rows: 15% 20% 5% 20% 5% 20% 15%;
}

#class {
  border: 1px solid #000;
  height: 450px;
  grid-row-start: 2;
}

#class:hover {
  border: 3px solid #000;
}

.warrior {
  grid-column-start: 1;
  grid-column-end: 2;
}

.mage {
  grid-column-start: 3;
  grid-column-end: 4;
}

.rogue {
  grid-column-start: 5;
  grid-column-end: 6;
}

.art {
  line-height: 0.5;
}
