/* Inventory.module.css */

.InventoryContainer {
  border: 1px solid #ccc;
  padding: 1vh;
  margin: 1vh;
  max-width: 30vh;
  text-align: center;
}

.InventoryItem {
  margin-right: 0.5vh;
  font-weight: bold;
}

.InventoryList {
  columns: 2;
  column-gap: 1vh;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
