/* Inventory.module.css */

.InventoryContainer {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  max-width: 300px;
  text-align: center;
}

.InventoryItem {
  margin-right: 5px;
  font-weight: bold;
}

.InventoryList {
  columns: 2;
  column-gap: 10px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
