/* update var(--xyz) values in globals.css */
.mapDisplay {
  display: grid;
  border: 1px solid #000;
}

.row {
  padding: var(--gap);
  display: flex;
}

.cell ul {
  padding: var(--gap);
  display: inline;
  letter-spacing: 2.5vh;
  font-family: "Courier New", monospace;
  font-size: 3.24vh;
}

.highlightedX {
  font-weight: bold;
}
