/* update var(--xyz) values in globals.css */
.mapDisplay {
  display: grid;
  border: 1px solid #000;
}

.row {
  padding: var(--gap);
  display: flex;
}

.cell ul {
  padding: var(--gap);
  display: inline;
  letter-spacing: 8px;
  font-family: "Courier New", monospace;
}

.highlightedX {
  font-weight: bold;
  font-size: 1.3rem;
  letter-spacing: 4px !important;
}

.usefulChar {
  font-weight: bold;
}
