/* StatBar.module.css */
.statBarContainer {
  margin-bottom: 1vh;
}

.statBar {
  background-color: #ddd;
  height: 2vh;
  border-radius: 0.5vh;
  margin-top: 0.5vh;
  display: flex;
  align-items: center;
}

.barFill {
  height: 100%;
  background-color: black;
}

.percentageText {
  margin-left: 0.5vh;
}
